<router-outlet></router-outlet>
<label class="col-sm-4 col-md-8 text-right control-label vertical-label" for="inputPassword3"> Select Client
  Name</label>
<div class="col-sm-8 col-md-4 text-right">
  <div class="form-group">
    <div class="input-group">
        <div class="autocomplete">
            <input class="form-control" *ngIf="flag" type="text" [(ngModel)]="ClientName"
                (keyup)="searchClient(ClientName)" />
              <input class="form-control" [(ngModel)]="ClientName" disabled *ngIf="!flag" type="text" />
            <div id="myInputautocomplete-list" class="autocomplete-items" *ngIf="flag">
              <div  *ngFor="let client of clients | async" (click)="onselectClient(client)">
                  {{client.text}} 
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
